In [1]:
import rasterio as rio
import numpy as np
import pandas as pd
from scipy.spatial.distance import cdist
import os

In [13]:
input_path = r"C:\Users\giova\OneDrive\Desktop\ZEULI\3 Zeuli 220623\Raster Alberi"
output_path = r"C:\Users\giova\OneDrive\Desktop\ZEULI\3 Zeuli 220623\3 Zeuli 220623 ground truth.xlsx"
df_alberi = pd.read_excel(r"C:\Users\giova\OneDrive\Desktop\ZEULI\ZEULI_OLIVO_UTM_220802.xlsx")
df_final = pd.DataFrame()

In [14]:
def raster_to_df(tif_path, df_alberi):
    src = rio.open(tif_path)
    
    ndvi = src.read(6)
    threshold = 0.2
    olivo_mask = ndvi>threshold

    data = []
    df_pixels = []
    
    for i in range(src.height):
        for j in range(src.width):
            if olivo_mask[i,j]:
                UTM_lon, UTM_lat = src.xy(i, j)
                pixel_values = [src.read(b + 1, window=((i, i+1), (j, j+1)))[0][0] for b in range(src.count)]
                data.append({
                    'ID_Pixel': f'{i}_{j}',
                    'ID_Albero': '',
                    'UTM_lon': UTM_lon,
                    'UTM_lat': UTM_lat,
                    'Red': pixel_values[0],
                    'Green': pixel_values[1],
                    'Blue': pixel_values[2],
                    'NIR': pixel_values[3],
                    'Rededge': pixel_values[4],
                    'NDVI': pixel_values[5],
                    'OSAVI': pixel_values[6],
                    'TCARI': pixel_values[7],
                    'TCARIOSAVI': pixel_values[8],
                    'EVI': pixel_values[9],
                    'MCARI': pixel_values[10],
                    'MCARIOSAVI': pixel_values[11],
                    'SR': pixel_values[12],
                    'TVI': pixel_values[13],
                    'NDRE': pixel_values[14],
                    'SWP': ''
                })
    df_pixels = pd.DataFrame(data)

    lon_mean = df_pixels['UTM_lon'].mean()
    lat_mean = df_pixels['UTM_lat'].mean()
    
    # Calcola le distanze euclidee tra le medie e le coordinate UTM_lon e UTM_lat di ogni albero
    distances = cdist(np.array(df_alberi[['UTM_lon', 'UTM_lat']]), np.array([[lon_mean, lat_mean]]))
    
    # Trova l'indice dell'albero più vicino alle medie
    closest_tree_index = np.argmin(distances)
    
    # Prendi i valori ID e SWP dell'albero più vicino
    closest_tree_id = df_alberi.iloc[closest_tree_index]['ID']
    closest_tree_swp = df_alberi.iloc[closest_tree_index]['SWP']
    
    # Assegna i valori di ID e SWP dell'albero più vicino a tutti i pixel nel DataFrame dei pixel
    df_pixels['ID_Albero'] = closest_tree_id
    df_pixels['SWP'] = closest_tree_swp

    return df_pixels

In [15]:
tif_alberi = [img for img in os.listdir(input_path) if img.endswith('.tif')]
for tif_albero in tif_alberi:
    tif_path = os.path.join(input_path, tif_albero)
    df_temp = raster_to_df(tif_path, df_alberi)
    df_final = pd.concat([df_final, df_temp], ignore_index=True)

In [16]:
df_final

,ID_Pixel,ID_Albero,UTM_lon,UTM_lat,Red,Green,Blue,NIR,Rededge,NDVI,OSAVI,TCARI,TCARIOSAVI,EVI,MCARI,MCARIOSAVI,SR,TVI,NDRE,SWP
0,0_0,148,599776.152,4.565502e+06,10196.0,18429.0,13797.0,43737.0,17528.0,0.621901,0.721403,22925.347656,31778.822266,58.372780,12914.264648,17901.587891,0.233121,1.059198,0.427797,33.6
1,0_1,148,599776.232,4.565502e+06,9850.0,18950.0,13862.0,44370.0,17236.0,0.636665,0.738530,23957.542969,32439.509766,-174.696350,13524.222656,18312.359375,0.221997,1.066145,0.440444,33.6
2,0_2,148,599776.312,4.565502e+06,9384.0,19911.0,14077.0,44281.0,18330.0,0.650275,0.754317,28690.923828,38035.652344,-17.478212,18092.085938,23984.738281,0.211919,1.072509,0.414480,33.6
3,0_3,148,599776.392,4.565502e+06,9907.0,19974.0,13715.0,42230.0,19357.0,0.619963,0.719155,29073.322266,40427.078125,-67.934006,18705.189453,26009.968750,0.234596,1.058283,0.371393,33.6
4,0_4,148,599776.472,4.565502e+06,10355.0,20118.0,13217.0,39873.0,20283.0,0.587680,0.681707,29590.082031,43405.875000,25.654442,19381.968750,28431.529297,0.259700,1.042919,0.325653,33.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120093,90_39,59,599810.792,4.565672e+06,20656.0,35759.0,28383.0,40974.0,35076.0,0.329677,0.382424,43955.882812,114940.046875,-1.059079,24718.595703,64636.546875,0.504125,0.910866,0.077554,32.4
120094,90_40,59,599810.872,4.565672e+06,24906.0,34403.0,28565.0,43358.0,34811.0,0.270304,0.313551,29372.843750,93677.929688,-2.151335,13730.120117,43789.062500,0.574427,0.877669,0.109340,32.4
120095,91_38,59,599810.712,4.565672e+06,24335.0,35603.0,32737.0,37400.0,35067.0,0.211630,0.245491,32659.429688,133037.406250,-0.525826,15619.405273,63625.273438,0.650668,0.843582,0.032194,32.4
120096,91_39,59,599810.792,4.565672e+06,22815.0,35183.0,30407.0,40592.0,35091.0,0.280363,0.325221,36912.902344,113501.093750,-0.878840,18909.611328,58143.941406,0.562057,0.883382,0.072685,32.4
120097,91_40,59,599810.872,4.565672e+06,25972.0,35260.0,29847.0,42532.0,34298.0,0.241738,0.280415,25740.236328,91793.335938,-1.624326,11249.194336,40116.222656,0.610646,0.861242,0.107172,32.4

In [18]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120098 entries, 0 to 120097
Data columns (total 20 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   ID_Pixel    120098 non-null  object
 1   ID_Albero   120098 non-null  int64
 2   UTM_lon     120098 non-null  float64
 3   UTM_lat     120098 non-null  float64
 4   Red         120098 non-null  float32
 5   Green       120098 non-null  float32
 6   Blue        120098 non-null  float32
 7   NIR         120098 non-null  float32
 8   Rededge     120098 non-null  float32
 9   NDVI        120098 non-null  float32
 10  OSAVI       120098 non-null  float32
 11  TCARI       120098 non-null  float32
 12  TCARIOSAVI  120098 non-null  float32
 13  EVI         120098 non-null  float32
 14  MCARI       120098 non-null  float32
 15  MCARIOSAVI  120098 non-null  float32
 16  SR          120098 non-null  float32
 17  TVI         120098 non-null  float32
 18  NDRE        120098 non-null  float32
 19  SWP         120098 non-null  float64
dtypes: float32(15), float64(3), int64(1), object(1)
memory usage: 11.5+ MB

In [19]:
df_final.isnull().sum()

ID_Pixel      0
ID_Albero     0
UTM_lon       0
UTM_lat       0
Red           0
Green         0
Blue          0
NIR           0
Rededge       0
NDVI          0
OSAVI         0
TCARI         0
TCARIOSAVI    0
EVI           0
MCARI         0
MCARIOSAVI    0
SR            0
TVI           0
NDRE          0
SWP           0
dtype: int64

In [20]:
df_final.nunique()

ID_Pixel       11997
ID_Albero         27
UTM_lon         1779
UTM_lat         1985
Red            21145
Green          26505
Blue           22144
NIR            33971
Rededge        26661
NDVI          119397
OSAVI         119541
TCARI         119755
TCARIOSAVI    119815
EVI           119967
MCARI         119876
MCARIOSAVI    119893
SR            119703
TVI           117421
NDRE          119685
SWP               27
dtype: int64

In [17]:
df_final.describe()

,ID_Albero,UTM_lon,UTM_lat,Red,Green,Blue,NIR,Rededge,NDVI,OSAVI,TCARI,TCARIOSAVI,EVI,MCARI,MCARIOSAVI,SR,TVI,NDRE,SWP
count,120098.000000,120098.000000,1.200980e+05,120098.000000,120098.000000,120098.000000,120098.000000,120098.000000,120098.000000,120098.000000,120098.000000,120098.000000,120098.000000,120098.000000,120098.000000,120098.000000,120098.000000,120098.000000,120098.000000
mean,71.389682,600003.362797,4.565920e+06,10226.845703,15595.901367,12089.757812,35842.742188,16876.630859,0.553589,0.642161,18000.244141,29589.982422,-0.015492,12547.057617,19733.144531,0.304381,1.022818,0.362467,24.500253
std,45.174202,253.051540,2.644323e+02,4856.436523,6290.404297,5130.797363,8797.692383,6431.879395,0.173079,0.200771,9886.990234,20315.132812,642.663635,8776.243164,14056.624023,0.153928,0.086213,0.161932,9.014182
min,31.000000,599748.872000,4.565493e+06,664.000000,630.000000,910.000000,9053.000000,1669.000000,0.200006,0.232006,-43196.578125,-174488.687500,-177435.000000,-5783.870117,-23620.390625,0.021331,0.836663,-0.332478,10.200000
25%,37.000000,599809.192000,4.565653e+06,6761.000000,10955.000000,8388.000000,30364.000000,11953.000000,0.420575,0.487865,12036.874756,17576.702148,-1.527680,6311.683716,10269.068115,0.182502,0.959466,0.240934,16.200000
50%,51.000000,599949.352000,4.566098e+06,9033.000000,14223.000000,10767.000000,37690.000000,15515.000000,0.581260,0.674259,17495.718750,25559.040039,3.376686,11315.216797,16921.160156,0.264814,1.039837,0.369387,24.600000
75%,136.000000,599966.472000,4.566133e+06,12589.750000,19067.000000,14735.000000,42579.000000,20779.000000,0.691329,0.801940,23876.188477,39107.307617,5.870197,17193.798340,26609.719727,0.407881,1.091480,0.486545,33.800000
max,148.000000,600465.672000,4.566180e+06,31938.000000,52302.000000,60377.000000,55202.000000,47335.000000,0.958230,1.111541,62733.531250,180843.296875,49665.000000,103976.554688,304083.562500,0.666659,1.207572,0.833777,38.200000

In [21]:
df_final.to_excel(output_path, index=False)